<div class="contenido">
  <h1> {{titulo}} </h1>

  <form [formGroup]="form" (ngSubmit)="guardar()">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutWrap>
      <mat-form-field fxFlex="30">
        <label for="nombre">NOMBRE *</label>
        <input matInput type="text" formControlName="nombre">
        <mat-error *ngIf="form.get('nombre').errors.required">
          El nombre es obligatorio
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="70">
        <label for="superpoderes">SUPERPODERES</label>
        <input matInput type="text" formControlName="superpoderes">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexAlign="start center">
      <button mat-raised-button type="submit" class="green">GUARDAR</button>
      <button mat-raised-button type="button" class="margin-left-btn" (click)="volver()">VOLVER</button>
    </div>
  </form>

</div>
